/* index */
body {
    font-family: cursive,'Trebuchet MS','Lucida Sans Unicode','Lucida Grande','Lucida Sans',Arial,sans-serif;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.navbar {
    background-color: rgb(222, 150, 62) !important;
}
.navbar li a{
    color: rgb(75, 73, 73) !important;
    transition: text-decoration 0.5 ease;
    text-decoration: none;
}
.navbar li a:hover{
    color: rgb(0, 0, 0) !important;
    text-decoration: underline;
}

.navbar img{
    margin-right: 5px;
    border-radius: 13px;
}


/* home-view */
.jumbotron-container {
    background-color: rgba(207, 84, 27, 0.598);
    margin-top: 100px !important;
    border-radius: 9px;
    position: relative;
    transition: box-shadow 0.3s;
}
.jumbotron-container:hover {
    box-shadow: 0 0 20px rgba(33, 150, 243, 0.7);
    background-color: rgba(209, 98, 47, 0.598);
}
.jumbotron-text {
    color: #000000;
    text-align: center;
    padding: 120px 0;
    transition: transform 0.4s;
}
.jumbotron-container:hover .jumbotron-text{
    transform: scale(1.1);
}

.jumbotron-image {
    background-image: url('../img/2.jpeg');
    background-size: cover;
    background-position: center;
    height: 90%; 
    max-width: 80%; 
    margin: auto; 
    margin-top: 15px;
    border-radius: 8px;
    transform: perspective(1200px) rotateY(-10deg);
    transition: transform 0.5s ease;
    padding: 10px;
}
.jumbotron-container:hover .jumbotron-image{
    transform: scale(1.05);
}
.service{
    margin-top: 5em;
    margin-bottom: 5em;
    background: linear-gradient(to right, #ffa600a1, #ff00005e);
    padding: 50px 0;
    text-align: center;
}
.service h2 {
    color: #1b1515;
}
.service-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 30px;
}
.service-item {
    width: 25%;
    padding: 25px;
    margin: 10px;
    /* background: linear-gradient(to right, #c4ff01, #ffd9003a); */
    background-color: #D7FFAB;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.5s ease;
}
.service-item:hover {
    transform: scale(1.1);
}
.service-item h4 {
    color: #333;
}
.service-item p {
    color: #000000;
}


/* index */
.footer{
    background-color: rgb(222, 150, 62);
    color: white;
    padding: 6px;
    margin-bottom: 2px;
}